.cursor-trail {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
    transition: opacity 1s linear;
  }

  body {
    background-color: #000;
  }